/* survey.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.form-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container p {
    margin: 0 0 15px;
}

.form-container form {
    background-color: bisque;
    padding: 15px;
    border-radius: 5px;
}

.form-container form input[type="text"],
.form-container form input[type="email"],
.form-container form input[type="tel"],
.form-container form textarea {
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the width calculation */
    padding: 10px;
    margin: 5px 0; /* Adjust margin for better spacing */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container form input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.form-container form input[type="submit"]:hover {
    background-color: #0056b3;
}
